{{ 'base.css' | asset_url | stylesheet_tag }}

<section class="hero-banner 
  {% if section.settings.reverse_layout %}hero-banner--reverse{% endif %}
  {% if section.settings.mobile_reverse_layout %}hero-banner--mobile-reverse{% endif %}">

  <div class="hero-banner__content">

    {% for block in section.blocks %}
      {% case block.type %}

        {% when 'offer' %}
          <p class="hero-offer" style="color: {{ block.settings.offer_color }};
                    background-color: {{ block.settings.offer_background_color }};
                    font-size: {{ block.settings.offer_size }}px;">
            {{ block.settings.offer_text }}
          </p>

        {% when 'heading' %}
          <h1 class="hero-heading" style="color: {{ block.settings.heading_color }}; 
                     font-size: {{ block.settings.heading_size }}px;
                     margin-top: {{ block.settings.margin_top }}px;">
            {{ block.settings.heading }}
          </h1>

        {% when 'subheading' %}
          <p class="hero-subheading" style="color: {{ block.settings.subheading_color }};
                    font-size: {{ block.settings.subheading_size }}px;
                    margin-top: {{ block.settings.margin_top }}px;">
            {{ block.settings.subheading }}
          </p>

      {% endcase %}
    {% endfor %}

  </div>

  <div class="hero-banner__image">
    <img
      src="{{ section.settings.banner_image | image_url }}"
      alt="Banner Image"
      width=""
      height="">
  </div>

</section>
{% schema %}
  {
    "name": "Hero Banner",
    "settings": [
      {
        "type": "image_picker",
        "id": "banner_image",
        "label": "Banner Image"
      }, {
        "type": "checkbox",
        "id": "reverse_layout",
        "label": "Reverse Layout (Desktop)",
        "default": false
      }, {
        "type": "checkbox",
        "id": "mobile_reverse_layout",
        "label": "Reverse Layout (Mobile)",
        "default": false
      }
    ],
    "blocks": [
      {
        "type": "offer",
        "name": "Offer Text",
        "settings": [
          {
            "type": "text",
            "id": "offer_text",
            "label": "Offer Text",
            "default": "UP TO 30% OFF"
          }, {
            "type": "color",
            "id": "offer_color",
            "label": "Offer Color",
            "default": "#11854d"
          }, {
            "type": "color",
            "id": "offer_background_color",
            "label": "Offer Background Color",
            "default": "#f2e49fcc"
          }, {
            "type": "range",
            "id": "offer_size",
            "label": "Offer Font Size",
            "min": 20,
            "max": 80,
            "step": 2,
            "unit": "px",
            "default": 20
          }
        ]
      }, {
        "type": "heading",
        "name": "Heading",
        "settings": [
          {
            "type": "text",
            "id": "heading",
            "label": "Heading",
            "default": "MOTHER'S DAY SALE"
          }, {
            "type": "color",
            "id": "heading_color",
            "label": "Heading Color",
            "default": "#E8656B"
          }, {
            "type": "range",
            "id": "heading_size",
            "label": "Heading Size",
            "min": 20,
            "max": 80,
            "step": 2,
            "unit": "px",
            "default": 44
          }, {
            "type": "range",
            "id": "margin_top",
            "label": "Margin Top",
            "min": 0,
            "max": 100,
            "step": 2,
            "unit": "px",
            "default": 20
          }
        ]
      }, {
        "type": "subheading",
        "name": "Subheading",
        "settings": [
          {
            "type": "text",
            "id": "subheading",
            "label": "Subheading",
            "default": "OVER 300,000+ HAPPY CUSTOMERS"
          }, {
            "type": "color",
            "id": "subheading_color",
            "label": "Subeading Color",
            "default": "#1a67a0"
          }, {
            "type": "range",
            "id": "subheading_size",
            "label": "Subheading Size",
            "min": 20,
            "max": 80,
            "step": 2,
            "unit": "px",
            "default": 20
          }, {
            "type": "range",
            "id": "margin_top",
            "label": "Margin Top",
            "min": 0,
            "max": 100,
            "step": 2,
            "unit": "px",
            "default": 20
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Hero Banner"
      }
    ]
  }
{% endschema %}